.main_paquetes{
    height: 84vh;
    @include aplico-color(verde);
    
 
    @include respond-to (notebook){
     height: auto;
         .flip-card-back {
             overflow-y:scroll;
             scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
             scrollbar-width: thin;
         } 
         
     }
 }