.main_paquetes{
    height: 84vh;
    @include aplico-color(verde);
    
 
    @include respond-to (notebook){
     height: auto;
         .flip-card-back {
             overflow:hidden;
         } 
         
     }
 }